@import '../../../styles/global.scss';

@mixin button-theme($theme: 'default') {
  @if $theme == 'default' {
    &:hover {
      outline: 2px solid $Brown-50;
      background: $Brown-40;
    }

    &:active {
      background: $Brown-50;
    }

    &:disabled {
      outline: 1px solid $Brown-30;
      background: $Brown-30;
    }
  } @else if $theme == 'light' {
    outline: 1px solid $Brown-40;
    background: $Brown-10;
    color: $Brown-40;

    &:hover {
      outline: 2px solid $Brown-40;
      background: $Brown-10;
    }

    &:active {
      background: $Brown-20;
    }

    &:disabled {
      outline: 1px solid $Brown-30;
      background: $Brown-10;
      color: $Brown-30;
    }
  }
}

.button {
  @include Body3-Regular;

  display: inline-flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid $Brown-40;
  border-radius: 0.5rem;
  background: $Brown-40;
  color: $Grayscale-10;
  cursor: pointer;
  @include button-theme('default');

  &--small {
    @include Caption1-Regular;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  &--light {
    @include button-theme('light');
  }
}
