@import '../../core/styles/global.scss';

.feedlist {
  display: inline-flex;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid $Brown-30;
  background: $Brown-10;

  &__header {
    @include Body1-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: $Brown-40;
  }

  &__empty-image {
    margin: 4.37rem 0;
  }

  &--empty {
    display: flex;
    height: 20.625rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 1rem;
  }
}
