.feedheader-image {
  display: flex;
  justify-content: center;

  &__img {
    width: 75rem;
    height: 14.625rem;
    z-index: -1;

    @media (max-width: 375px) {
      width: 56.625rem;
      height: 11.0625rem;
    }
  }
}
