.main-logo {
  text-align: center;

  &__img {
    width: 26.625rem;
    height: 11.6875rem;
    margin: 10rem auto;

    @media (max-width: 375px) {
      width: 15.5rem;
      height: 6.125rem;
      margin: 8rem auto;
    }
  }
}
