@import '../../../core/styles/global.scss';

$bgColor: $Grayscale-10;

.feedcard {
  display: flex;
  width: 90%;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 1rem;
  background: $bgColor;
  @include Shadow(1);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  &__btn-dropdown {
    @include Caption1-Medium;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.625rem;
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
    position: relative;
    border: 1px solid;
    border: 0;
    background-color: $bgColor;
    cursor: pointer;
  }

  &__line {
    height: 0.0625rem;
    align-self: stretch;
    background: $Grayscale-30;
  }
}
