@import '../../core/styles/global.scss';

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  flex: 1 0 0;

  &__timestamp {
    @include Caption1-Medium;
    color: $Grayscale-40;
  }

  &-content-container {
    @include Body2-Regular;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    &__icon {
      color: $Grayscale-60;
      font-size: 1.2rem;
    }

    &__content {
      display: flex;
      &--contracted {
        display: -webkit-box;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
      }
    }
    &__button {
      @include Caption1-Medium;
      display: none;
      align-self: flex-start;
      border: none;
      border-radius: 1rem;
      background-color: unset;
      align-self: center;
      &--display {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
