@import '../../../core/styles/global.scss';

.answer__profile {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.answer__profile-image {
  width: 100%;
  border-radius: 50%;
}

.answer__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  flex: 1 0 0;
}

.answer__row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
}

.answer__username {
  @include Body2-Regular;
}

.answer__timestamp {
  @include Body3-Regular;
  color: $Grayscale-40;
}
