@import '../styles/global.scss';

body {
  background-color: $Grayscale-20;
}

.page {
  display: flex;
  justify-content: center;
  background-image: url('../../core/assets/image/Banner.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 75rem 14.625rem;

  &__container {
    display: flex;
    width: 44.75rem;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin: 3.13rem 0 0;
    cursor: pointer;
  }

  &__profile {
    margin: 0.75rem 0 0;
  }

  &__list-header {
    display: flex;
    justify-content: end;
  }

  &__feed-list {
    margin: 0.63rem 0 9.75rem;
  }
  &__toast {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
