@import '../styles/global.scss';

body {
  background-color: $Grayscale-20;
}

.page {
  display: flex;
  justify-content: center;

  &__banner {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    flex-shrink: 0;
    z-index: -99;
  }

  &__container {
    // display: flex;
    width: 44.75rem;
    // width: 100%;
    // flex-direction: column;
    // align-items: center;
    @media (width <= 430px) {
      width: 20.4375rem;
    }
  }

  &__feed-list {
    margin: 20rem 0 0;
  }
}
