@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

$Grayscale-60: var(--Gray-scale-60);
$Grayscale-50: var(--Gray-scale-50);
$Grayscale-40: var(--Gray-scale-40);
$Grayscale-30: var(--Gray-scale-30);
$Grayscale-20: var(--Gray-scale-20);
$Grayscale-10: var(--Gray-scale-10);

$Brown-50: var(--Brown-50);
$Brown-40: var(--Brown-40);
$Brown-30: var(--Brown-30);
$Brown-20: var(--Brown-20);
$Brown-10: var(--Brown-10);

$Blue-50: #1877f2;

$Yellow-50: #fee500;

$Red-50: #b93333;

@mixin Shadow($pt: 1) {
  @if $pt == 1 {
    box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
  } @else if $pt == 2 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  } @else if $pt == 3 {
    box-shadow: 0px 16px 20px 0px rgba(48, 48, 48, 0.62);
  }
}

@mixin H1 {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin H2 {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}

@mixin H3 {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

@mixin Body1-Regular {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}

@mixin Body1-Bold {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem;
}

@mixin Body2-Regular {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin Body2-Bold {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

@mixin Body3-Regular {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

@mixin Body3-Bold {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

@mixin Caption1-Regular {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

@mixin Caption1-Medium {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Pretendard, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
}

@mixin Caption1-Bold {
  color: $Grayscale-60;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Actor, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}
