@import './global.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__loading-spinner {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;
    border: 0.2rem solid $Brown-40;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spinner 1s linear infinite;
  }

  &__list {
    text-decoration: none;
  }

  &__button {
    @include Body1-Regular;
    border: none;
    font-family: 'Actor';
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    color: $Grayscale-40;
    cursor: pointer;

    &:hover {
      color: $Grayscale-60;
    }

    &:disabled {
      color: $Grayscale-40;
      cursor: auto;
    }

    &--selected {
      @include Body1-Regular;
      color: $Brown-40;
    }

    @media (width < 768px) {
      @include Body3-Regular;
      font-family: 'Actor';
      line-height: 1.5625rem;
      color: $Grayscale-40;
      &--selected {
        @include Body1-Regular;
        color: $Brown-40;
      }

      &:hover {
        color: $Grayscale-60;
      }

      &:disabled {
        color: $Grayscale-40;
        cursor: auto;
      }
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
