@import './global.scss';

.container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 1.13rem;
}

.button-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text {
  @include Caption1-Medium;
  color: $Grayscale-40;
  background: none;
  border: none;
  white-space: pre;
}

.like {
  margin: 0 2rem 0 0;
  cursor: pointer;
  &--active {
    color: $Blue-50;
  }
}

.dislike {
  cursor: pointer;
  &--active {
    color: $Grayscale-60;
  }
}

.icon {
  margin: 0 0.38rem 0 0;
}
