@import '../core/styles/global.scss';

.btn-wrapper {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

@media (max-width: 768px) {
  .question-botton {
    width: 7.69rem;
    padding: 0.75rem 1.5rem;
    white-space: nowrap;
    @include Body1-Regular;
    color: $Grayscale-10;
  }
}
