@import '../../core/styles/global.scss';

.container {
  width: 11.0625rem;
  height: 15rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  justify-content: center;
}

.profileImage {
  display: flex;
  width: 8.5rem;
  height: 8.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-left: 1.28rem;
  padding-right: 1.28rem;
}

.text {
  @include H2;
}
