@import 'global.scss';

.user-card {
  display: flex;
  width: 13.75rem;
  height: 11.6875rem;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid var(--Grayscale-40, #818181);
  background: var(--Grayscale-10, #fff);
  text-decoration: none;

  @media (max-width: 375px) {
    width: 9.71875rem;
    height: 10.5rem;
    padding: 1rem;
  }

  &__name {
    margin: 0.75rem 0 auto 0;
    color: var(--Grayscale-60, #000);
    font-family: Actor;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;

    @media (max-width: 375px) {
      font-size: 1.125rem;
    }
  }

  &__icon-questions {
    display: flex;
    gap: 0.25rem;
  }

  &__messages {
    width: 1.125rem;
    height: 1.125rem;

    @media (max-width: 375px) {
      width: 1rem;
      height: 1rem;
    }
  }

  &__received-questions {
    color: var(--Grayscale-40, #818181);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;

    @media (max-width: 375px) {
      font-size: 0.875rem;
    }
  }

  &__count {
    color: var(--Grayscale-40, #818181);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;

    @media (max-width: 375px) {
      font-size: 0.875rem;
    }
  }
}
