@import '../global.scss';

.user-card {
  display: flex;
  width: 13.75rem;
  height: 11.6875rem;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 1px solid $Grayscale-40;
  background: $Grayscale-10;
  text-decoration: none;

  @media (max-width: 375px) {
    width: 9.71875rem;
    height: 10.5rem;
    padding: 1rem;
  }

  &__name {
    margin: 0.75rem 0 auto 0;
    @include H3;

    @media (max-width: 375px) {
      font-size: 1.125rem;
    }
  }

  &__received-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon-questions {
    display: flex;
    gap: 0.25rem;
  }

  &__messages {
    width: 1.125rem;
    height: 1.125rem;

    @media (max-width: 375px) {
      width: 1rem;
      height: 1rem;
    }
  }

  &__received-questions {
    @include Body3-Regular;
    color: $Grayscale-40;

    @media (max-width: 375px) {
      font-size: 0.875rem;
    }
  }

  &__count {
    @include Body3-Regular;
    color: $Grayscale-40;

    @media (max-width: 375px) {
      font-size: 0.875rem;
    }
  }
}
