@import '../global.scss';

.user-card {
  @include Body1-Regular;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-height: 11.6875rem;
  justify-content: space-between;
  padding: 1.25rem;
  border-radius: 1rem;
  border: 1px solid $Grayscale-40;
  background: $Grayscale-10;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &--img {
      display: flex;
      width: 3.75rem;
      height: 3.75rem;
      justify-content: center;
      align-items: center;
      border-radius: 60px;

      @media (width < 768px) {
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &__received-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  &__messages {
    height: 1.125rem;

    @media (max-width: 768px) {
      height: 1rem;
    }
  }

  &__received-questions {
    @include Body3-Regular;
    color: $Grayscale-40;

    @media (max-width: 768px) {
      font-size: 0.875rem;
    }
  }

  &__count {
    @include Body3-Regular;
    color: $Grayscale-40;

    @media (max-width: 768px) {
      font-size: 0.875rem;
    }
  }
}
