@import '../../../styles/global.scss';

.button {
  @include Body1-Regular;
  @include Shadow(2);

  display: flex;
  width: 13rem;
  height: 3.375rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 12.5rem;
  background: $Brown-40;
  color: $Grayscale-10;
}
