.question-list-main__cards {
  display: grid;
  width: 100%;
  justify-content: center;
  margin: 0 2rem;
  grid-template: repeat(2, 1fr) / repeat(4, minmax(186px, 220px));
  gap: 1.25rem;

  & a {
    text-decoration: none;
  }
  & li {
    cursor: pointer;
  }
}
