.question-list-main__cards {
  display: grid;
  justify-content: center;
  margin: 0 2rem;
  gap: 1.25rem;
  grid-template: repeat(2, 1fr) / repeat(4, minmax(180px, 220px));

  @media (width < 876px) {
    grid-template: repeat(2, 1fr) / repeat(3, minmax(180px, 220px));
  }
  @media (width < 668px) {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
    margin: 0 1.5rem;
  }

  & a {
    text-decoration: none;
  }
  & li {
    cursor: pointer;
    @media (width < 668px) {
      width: 9.71875rem;
    }
  }
}
